<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
</head>
<body>
  <div class="sticky top-0 bg-white drop-shadow-xl backdrop-blur-3xl">
    <nav class="flex justify-between items-center px-2 py-4">
      <div class="flex items-center">
        <img
          class="w-20"
          src="https://upload.wikimedia.org/wikipedia/en/b/bd/Odisha_University_of_Technology_and_Research_Logo.png"
          alt="..."
        />
        <div class="ml-2 leading-5">
          <p class="font-semibold text-violet-900">Odisha University of Technology and Research</p>
          <p class="font-semibold text-violet-900">Bhubaneswar (Formerly CET Bhubaneswar)</p>
          <p class="text-gray-500">Alumni Association</p>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div class="nav-links lg:static absolute lg:min-h-fit bg-slate-100 lg:bg-white right-0 top-[-1000%] lg:w-auto w-full flex items-start justify-center px-5">
          <ul class="flex lg:flex-row flex-col lg:items-center items-center lg:gap-[2vw] gap-8 text-lg lg:text-sm xl:text-lg font-bold my-8">
            <li>
              <span><a href="#">ABOUT US</a></span>
            </li>
            <li>
              <a href="#">GIVING BACK</a>
            </li>
            <li>
              <a href="#">CHAPTERS</a>
            </li>
            <li>
              <a href="#">MEMBERS</a>
            </li>
            <li>
              <a href="#">ALUMNI ASSIST</a>
            </li>
          </ul>
        </div>
        <div class="flex items-center">
          <i class="fa-solid fa-magnifying-glass ml-2 px-4 py-3 bg-white text-2xl cursor-pointer"></i>
          <ion-icon onclick="onToggleMenu(this)" name="menu" class="ml-2 px-4 py-4 bg-white text-3xl cursor-pointer lg:hidden"></ion-icon>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
