<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
      }
    </style>
  </head>
  <body>
    <p>Hobbies of <%=data.name%> are:</p>
    <ol>
      <li><%=data.hobbies[0]%></li>
      <li><%=data.hobbies[1]%></li>
      <li><%=data.hobbies[2]%></li>
    </ol>
    <p>Hello World</p>
  </body>
</html>
